body {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    
    font-family: helvetica, arial, sans-serif;
    color: #222;
}

#clickarea {
    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#challenge, #answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clickarea > h1, h2 {
    margin: 0;
    align-self: center;
    justify-self: center;
}

#person, #time {
    color: darkgrey;
}

#config-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 3em;
    cursor: pointer;
}

#config-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#config-modal fieldset {
    border-width: 0px;
}

#config-modal #config-verbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
}