body {
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    
    font-family: helvetica, arial, sans-serif;
    color: #222;
}

#clickarea {
    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#challenge, #answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    margin: 0;
    align-self: center;
    justify-self: center;
}

#person {
    color: darkgrey;
}
